name: Docker Image CI

on:
  push:
    # tags:
    # - 'v*.*.*'
    branches:
      - "main"
  # pull_request:
  #  branches: [ "main" ]

jobs:

  build-on-arm64:

    runs-on: ARM64

    steps:
    - uses: actions/checkout@v3
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Build the Docker ARM64 image
      run: |
        id
        which docker && docker ps
        docker login -u linuxshots -p ${{ secrets.DOCKER_ACCESS_KEY }}
        docker build . --file Dockerfile.arm64 --tag linuxshots/github-runner:arm64-${{ env.RELEASE_VERSION }}
        docker push linuxshots/github-runner:arm64-${{ env.RELEASE_VERSION }}
  
  build-on-amd64:
    runs-on: laptop
    steps:
    - uses: actions/checkout@v3
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Build the Docker AMD64 image
      run: |
        id
        which docker && docker ps
        docker login -u linuxshots -p ${{ secrets.DOCKER_ACCESS_KEY }}
        whoami && pwd
        docker build . --file Dockerfile --tag linuxshots/github-runner:amd64-${{ env.RELEASE_VERSION }}
        docker push linuxshots/github-runner:amd64-${{ env.RELEASE_VERSION }}
